@import url(https://fonts.googleapis.com/css?family=Roboto:700);

@font-face{
  src: url(https://bitbucket.org/dantas_/stream/raw/3fac456198fe9af7895f32137b9eea52cdfc29e3/stux/UniviaPro-Book.otf) format("opentype");
  font-family: 'Univia Book';
}

@font-face{
  src: url(https://bitbucket.org/dantas_/stream/raw/3fac456198fe9af7895f32137b9eea52cdfc29e3/stux/UniviaPro-Medium.otf) format("opentype");
  font-family: 'Univia Medium';
}


* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    text-shadow: 0 0 1px #000, 0 0 2px #000;
    background: {background_color};
    font-family: 'Univia Book';
    font-weight: 700;
    font-size: 24px !important;
    line-height: 2em;
    color: {text_color};
}

#log>div {
    animation: fadeInUp .3s ease forwards, fadeOut 0.5s ease {message_hide_delay} forwards;
    -webkit-animation: fadeInUp .3s ease forwards, fadeOut 0.5s ease {message_hide_delay} forwards;
  
}

.colon {
    display: none;
}

#log {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 10px 10px;
    width: 100%;
    table-layout: fixed;
}

#log>div {
    display: table-row;

  	padding: .5em 0 !important;
  
}

#log>div.deleted {
    visibility: hidden;
}

#log .emote {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 0.4em 0.2em;
    position: relative;
}

#log .emote img {
    display: inline-block;
    height: 1em;
    opacity: 0;
}

#log .message,#log .meta {

	margin: 1em 0 !important;
    display: inline;
  	padding: 1em 0 !important;
}

#log .meta {
    text-align: left;
    padding-right: 0.5em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    box-shadow: none !important;
  
}

#log .message {
    word-wrap: break-word;
  box-shadow: none !important;
  color: #35E0C8 !important;
  border: none !important;
  margin-left: .3em !important;
   max-width: 400px !important;
  display: inline;
  padding-top: 5em !important;
}

.badge {
    display: none !important;
}

.name {
		color: #0D1124 !important;
  	background: #35E0C8 !important;
  box-shadow: none !important;
  padding: .3em .8em .3em .5em;
  border-radius: .5em 1.5em .5em .5em;
  border: none !important;
  font-weight: 400;
  font-family: 'Univia Medium';
  	
}
.wrap-message{
  display: block !important;
}

#chatlist_item {
  
}