.widget-AlertBox {
    position: relative;
}
@import{
  
}

@font-face{
  src: url(https://bitbucket.org/dantas_/stream/raw/3fac456198fe9af7895f32137b9eea52cdfc29e3/stux/UniviaPro-Book.otf) format("opentype");
  font-family: 'Univia';
}

@font-face{
  src: url(https://bitbucket.org/dantas_/stream/raw/3fac456198fe9af7895f32137b9eea52cdfc29e3/stux/UniviaPro-Medium.otf) format("opentype");
  font-family: 'Univia Medium';
}

@font-face{
  src: url(https://bitbucket.org/dantas_/stream/raw/3fac456198fe9af7895f32137b9eea52cdfc29e3/stux/UniviaPro-Bold.otf) format("opentype");
  font-family: 'Univia Bold';
}
body,
html {
  	background: none;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#wrap {
    position: relative;
    height: 100%;
		overflow-x: hidden;
}
#alert-box {
    height: 100%;
  	margin: auto;
  	 width: 80% !important;
  margin: auto !important;
 	
}
#alert-box.hidden,
.hidden {
    opacity: 0;
}
#alert-text-bg {
    position: relative;
}
#alert-text-bg img {
  z-index:99999;
  position: absolute;
  left: -10;
  bottom: 30;
  height: 70;
}

#alert-text-bg-02 {
    position: relative;
}
#alert-text-bg-02 img {
  z-index:99999;
  position: absolute;
  right: -3%;
  bottom: 0;
  margin-bottom: -2em;
  height: 150;
}


#alert-text {
    padding: 20px;
 	 text-align: center;
  display: flex;
   text-transform: uppercase;
  color: white !important;
  font-family: 'Univia', serif !important;
  overflow-y: auto;
  position: relative;
  
}

.follow {
   position: relative;
  z-index: 9;
}
#alert-message,
#alert-user-message {
    text-align: center;
 		color: #fff !important;
 		font-family: 'Univia', serif !important;
  	font-size: .5em;
}

#alert-message {
  background: #051411;
   margin-top: -.3em;
  padding: .6em 5em;
  /*padding-bottom: .3em;*/
  color: #35E0C8 !important;
  font-family: 'Univia', serif !important;;
  font-size: 20px !important;
  border: 3px solid #051411 !important;
  animation-delay: 1s;
  
  /*
  -webkit-box-shadow: 10px 10px  0px 0px rgba(192,154,192,1);
	-moz-box-shadow: 10px 10px  0px 0px rgba(192,154,192,1);
	box-shadow: 10px 10px 0px 0px rgba(192,154,192,1);*/
   font-weight: 700 !important;
}

.name-block {
  display: block;
  color: white !important;
   font-family: 'Univia Bold' !important;
  font-size: 1.5em;
}

#alert-user-message img {
    vertical-align: middle;
    height: 1em;
}
#alert-image {
    position: relative;
}

#alert-message > span > span {
    display: inline-block;
 		color: white !important;
}

#alert-text {
  	padding-top: 3em;
  	font-family: 'Univia', serif !important;
    position: relative;
 	  color: #C09AC0 !important;
}
#alert-text-wrap {
    position: relative;
}

#novo-follow {
  background: #C09AC0;
  text-align: center;
  margin-top: -1.4em;
  padding-top: .1em ;
  padding-bottom: .1em;
  padding-right: 1em;
  padding-left: 1em;
  display: inline-block;
  font-family: 'Univia', serif !important;
  color: #F7F7F8;
  z-index: 999 !important;
}

#novo-follow {
  font-family: "Hellschreiber Serif" !important;
  font-weight: 300;
  font-size: 21px;
}

.module {
    clip-path: 
    polygon(
      0% 18px,                 /* top left */
      18px 0%,                 /* top left */
      calc(100% - 18px) 0%,    /* top right */
      100% 18px,               /* top right */
      100% calc(100% - 18px),  /* bottom right */
      calc(100% - 18px) 100%,  /* bottom right */
      18px 100%,               /* bottom left */
      0 calc(100% - 18px)      /* bottom left */
    );
  
}

.alert-text{
  filter: drop-shadow(2px 0px 0px #35E0C8) drop-shadow(0px 2px 0px #35E0C8) drop-shadow(-2px -0px 0px #35E0C8) drop-shadow(0px -2px 0px #35E0C8);
 
}

.wrap-all {
  filter: drop-shadow(1px 1px 10px #35E0C8) ;
  animation: pulse 1s infinite;
 
}

@keyframes pulse {
  0% {
    filter: drop-shadow(1px 1px 5px #35E0C8) ;
  }
  50% {
      filter: drop-shadow(1px 1px 20px #35E0C8) ;
  }
  100% {
     filter: drop-shadow(1px 1px 5px #35E0C8) ;
  }
}