<!-- main alert box window -->
<div id="alert-text-wrap" class="wrap-all">
  <!-- alert text -->
  <div id="alert-text" class="alert-text">

    <!-- alert message -->
    <!-- messageTemplate will be replaced with your message template -->
    <!-- for example : {name} is now following! or {name} donated {amount} -->
		<!--<div id="novo-follow" class="follow animated bounceIn">Follow</div>--->
     
    
    <div id="alert-message" class="animated bounceIn module">
      <img src="https://bitbucket.org/dantas_/stream/raw/3fac456198fe9af7895f32137b9eea52cdfc29e3/stux/bolinhas.gif" height="20" style="padding-bottom: .5em">
      <span class="name-block">{name}</span> seguiu o canal!</div>
    <div id="alert-user-message">{userMessage}</div>
     <!---
    <div id="alert-text-bg">
     
    <img src="https://bitbucket.org/dantas_/stream/raw/352d4264dd22ac8e53ee06a1c7d1ef2ac351033f/img/folha-01.png"></div>
     <div id="alert-text-bg-02">
    <img src="https://bitbucket.org/dantas_/stream/raw/352d4264dd22ac8e53ee06a1c7d1ef2ac351033f/img/folha-02.png"></div>

  </div>--->

</div>